[Unit]
Description=UP service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/airlab/Desktop/CV_aided_gripper_drone_payload/test/camera.py
WorkingDirectory=/usr/bin
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=cameraup.service